html {
  scroll-behavior: smooth;
}
header{
  font-size: 35px;
  height: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: aliceblue;
  background-color:  #4CAF50;
  margin: 0;
padding: 0;
box-shadow: 5px 1px 25px #73AD21;
text-align: center;
letter-spacing: 2px;
line-height: 70px;
}
body{
  background-color:  rgb(255, 255, 255);
  margin:0 0 0px 0;
padding: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#TJF{
  margin: auto;
width:65%;

padding: 10px;
margin-top: 20px;
box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
min-height: 200px;


background: white;
border-radius: 5px;
  
}
input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  
  font-size: larger;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
input[type=submit]:hover{
  box-shadow: 5px 1px 10px rgb(66, 163, 21);
}
.button{ text-align: center; }
input[type=text],input[type=number],input[type=email],input[type=tel],input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#godzina, #minuty{

  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#suwak{
  margin: 0 auto;
}
#inf{
  float: left;
  padding: 20px;
  width: 250px;
  margin-left: 15%;
}
#inf2{
  float: left;
  width: 250px;
  padding: 20px;
  margin-left: 15%
}
legend{
  text-align: center;
  height: 35px;
  text-decoration: dashed;
  font-size: larger;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}
hr{
  border:none;
  height: 20px;
   width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #73AD21;
  box-shadow: 0 20px 20px -20px #4CAF50;
margin: -50px auto 10px; 
}
input[type=text]:focus {

  border: 3px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number]:focus {

  border: 3px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email]:focus {

  border: 3px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel]:focus {

  border: 3px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]:focus {

  border: 3px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
}
footer{
  color: aliceblue;
  background-color:  #4CAF50;
  margin-top: 60px;

  width: 100%;
  line-height: 25px;
  color: white;
  text-align: center;
  height: 25px;
}
.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.kontener {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.kontener input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


.kontener:hover input ~ .checkmark {
  background-color: #ccc;
}


.kontener input:checked ~ .checkmark {
  background-color: #4CAF50;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.kontener input:checked ~ .checkmark:after {
  display: block;
}


.kontener .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.klik{
  padding-left: 20px;
  position: fixed;
 
  font-size: 15px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  
}
.klik:hover{
  text-shadow: 2px 2px 4px #000000;
}
#green{
  margin-left: 93%;
  
  padding-left: 20px;
  position: fixed;
  
  font-size: 15px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}